In [85]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import *
from pandas import DataFrame
import datetime

In [86]:
## Read in match dataset
df = pd.read_csv(r'C:\Users\anoble\Git\Outside_Work\AFL Fantasy\Data\Inputs\fryziggafl.csv')
df['year'] = pd.DatetimeIndex(df['match_date']).year

## Filter to only games from 2010 onwards. Remove shortened season stats (2019 preds and 2020 stats)

df = df.query('year >= 2012')\
        
## Read in Player Database
players = pd.read_csv(r'C:\Users\anoble\Git\Outside_Work\AFL Fantasy\Data\Inputs\player_ages.csv')

## Merge game stats with player info
df['player_name'] = df['player_last_name'].astype(str) + ", " + df['player_first_name']
joined_data = df.merge(players, on=['player_name'],how='left')

## Calculate age on match day (take year of game less year of birth, so will remain same age all season)
joined_data['age'] = pd.DatetimeIndex(joined_data['match_date']).year - pd.DatetimeIndex(joined_data['dob']).year

# Write to csv to check
# joined_data.to_csv(r'C:\Users\anoble\Git\Outside_Work\AFL Fantasy\Data\Inputs\fryziggafl_limited.csv')

# Aggregate 
avg_scores = joined_data.groupby(['player_team', 'player_first_name', 'player_last_name','player_name', 'age', 'year'])\
.agg({'afl_fantasy_score': 'mean'})\
.sort_values(by=['afl_fantasy_score'], ascending=False)\

pd.set_option('display.max_rows', 10)
# print(avg_scores)
avg_scores.query('age < 22').head(10)

C:\Users\anoble\AppData\Local\Temp\ipykernel_41556\573750460.py:2: DtypeWarning: Columns (25,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\anoble\Git\Outside_Work\AFL Fantasy\Data\Inputs\fryziggafl.csv')

                                                                                        afl_fantasy_score
player_team            player_first_name player_last_name player_name        age  year
Essendon               Zach              Merrett          Merrett, Zach      21.0 2016         117.590909
Sydney                 Errol             Gulden           Gulden, Errol      21.0 2023         112.250000
Gold Coast             Brayden           Fiorini          Fiorini, Brayden   19.0 2016         111.500000
Greater Western Sydney Tim               Taranto          Taranto, Tim       21.0 2019         111.307692
Carlton                Sam               Walsh            Walsh, Sam         21.0 2021         108.954545
Collingwood            Nick              Daicos           Daicos, Nick       20.0 2023         108.409091
Melbourne              Clayton           Oliver           Oliver, Clayton    21.0 2018         107.160000
Western Bulldogs       Jack              Macrae           Macrae, Jack       20.0 2014         104.380952
                                                                             21.0 2015         103.857143
Collingwood            Steele            Sidebottom       Sidebottom, Steele 21.0 2012         103.541667

# Data cleaning

In [87]:
## Remove COVID impacted years. Apply TOG > 60%. Filter to only scores in decent weather conditions

joined_data= joined_data.query('year != 2019')\
        .query('year != 2020')\
        .query('time_on_ground_percentage > 60')\
        # .query('match_weather_type == ["MOSTLY_SUNNY", "OVERCAST","MOSTLY_CLEAR","SUNNY"]')

## Identify outlier scores (top / bottom 2 after applying first round of filters
joined_data['score_rank_asc'] = joined_data.groupby(['player_name', 'year'])['afl_fantasy_score'].rank(method="first", ascending=True)
joined_data['score_rank_desc'] = joined_data.groupby(['player_name', 'year'])['afl_fantasy_score'].rank(method="first", ascending=False)


matches_played = joined_data.groupby(['player_name','year']).agg(matches=('match_date', 'count'),year_played=('year', 'mean'))

matches_played_min5 = matches_played.query('matches >=5')

joined_data = joined_data.merge(matches_played, on =['player_name','year'], how='inner')

# Remove outliers and seasons with fewer than 5 games

joined_data['Percentile'] = joined_data['score_rank_asc'] / joined_data['matches']

# joined_data = joined_data.query('0.15 <= Percentile <= 0.85')

joined_data

,Unnamed: 0.1,Unnamed: 0,venue_name,match_id,match_home_team,match_away_team,match_date,match_local_time,match_attendance,match_round,...,player_name,First Name,Last Name,dob,age,score_rank_asc,score_rank_desc,matches,year_played,Percentile
0,2939,600055,Gabba,14945,Brisbane Lions,Port Adelaide,30/07/2016,19:25:00,13085,19,...,"Smith, Archie",NaN,NaN,NaN,NaN,3.0,1.0,3,2016.0,1.000000
1,2940,600450,Adelaide Oval,14954,Adelaide,Brisbane Lions,6/08/2016,19:10:00,43549,20,...,"Smith, Archie",NaN,NaN,NaN,NaN,2.0,2.0,3,2016.0,0.666667
2,2941,600670,Gabba,14959,Brisbane Lions,Carlton,13/08/2016,13:45:00,17432,21,...,"Smith, Archie",NaN,NaN,NaN,NaN,1.0,3.0,3,2016.0,0.333333
3,2942,605993,MCG,15080,Collingwood,Brisbane Lions,28/05/2017,13:10:00,32750,10,...,"Smith, Archie",NaN,NaN,NaN,NaN,6.0,1.0,6,2017.0,1.000000
4,2943,606519,Gabba,15092,Brisbane Lions,Fremantle,10/06/2017,16:35:00,11742,12,...,"Smith, Archie",NaN,NaN,NaN,NaN,4.0,2.0,6,2017.0,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87877,667146,664771,Optus Stadium,16567,Fremantle,Port Adelaide,20/08/2023,14:40:00,0,23,...,"Emmett, Tom",Tom,Emmett,30/11/2001,22.0,1.0,2.0,2,2023.0,0.500000
87878,667147,664863,MCG,16569,Hawthorn,Fremantle,26/08/2023,13:45:00,0,24,...,"Emmett, Tom",Tom,Emmett,30/11/2001,22.0,2.0,1.0,2,2023.0,1.000000
87879,667149,665001,GMHBA Stadium,16572,Geelong,Western Bulldogs,26/08/2023,19:25:00,0,24,...,"Conway, Toby",Toby,Conway,24/04/2003,20.0,1.0,1.0,1,2023.0,1.000000
87880,667150,665092,Adelaide Oval,16574,Port Adelaide,Richmond,27/08/2023,12:00:00,0,24,...,"Trezise, James",James,Trezise,15/06/2002,21.0,1.0,1.0,1,2023.0,1.000000
87881,667151,665093,Adelaide Oval,16574,Port Adelaide,Richmond,27/08/2023,12:00:00,0,24,...,"Brown, Tom",Tom,Brown,30/07/2003,20.0,1.0,1.0,1,2023.0,1.000000

# Seasons active factor

In [88]:
seasons_active = joined_data.groupby(['player_name']).agg(years_active=('year_played', 'nunique'))

seasons_active

                   years_active
player_name
Aarts, Jake                   2
Abbott, Ryan                  1
Ablett, Gary                  7
Acres, Blake                  8
Adams, Leigh                  3
...                         ...
de Boer, Matt                 9
van Berlo, Nathan             4
van Rooyen, Jacob             1
van Unen, Dylan               1
vandenBerg, Aaron             4

[1585 rows x 1 columns]

## In Season change factors

In [89]:
# ## Add scores during 1st half of season. Convert match round to numeric, return AFL score if valid, else return Null
joined_data['h1_fantasy_score'] = np.where(pd.to_numeric(joined_data['match_round'], errors='coerce') <= 10, joined_data['afl_fantasy_score'], np.NaN)
joined_data['h2_fantasy_score'] = np.where(pd.to_numeric(joined_data['match_round'], errors='coerce') > 10, joined_data['afl_fantasy_score'], np.NaN)


# Test
joined_data.agg({'afl_fantasy_score': 'mean','h1_fantasy_score': 'mean','h2_fantasy_score': 'mean'})

afl_fantasy_score    72.382456
h1_fantasy_score     72.448422
h2_fantasy_score     72.451418
dtype: float64

## In game stat factors

In [90]:
matches_played_min5.merge(joined_data.drop(['matches','year_played'], axis = 1), on =['player_name'], how='inner')

,player_name,matches,year_played,Unnamed: 0.1,Unnamed: 0,venue_name,match_id,match_home_team,match_away_team,match_date,...,year,First Name,Last Name,dob,age,score_rank_asc,score_rank_desc,Percentile,h1_fantasy_score,h2_fantasy_score
0,"Aarts, Jake",19,2021.0,661119,636665,MCG,15875,Richmond,Carlton,18/03/2021,...,2021,NaN,NaN,NaN,NaN,9.0,11.0,0.473684,48.0,NaN
1,"Aarts, Jake",19,2021.0,661120,637352,MCG,15890,Hawthorn,Richmond,28/03/2021,...,2021,NaN,NaN,NaN,NaN,1.0,19.0,0.052632,19.0,NaN
2,"Aarts, Jake",19,2021.0,661121,637626,MCG,15896,Richmond,Sydney,3/04/2021,...,2021,NaN,NaN,NaN,NaN,7.0,13.0,0.368421,44.0,NaN
3,"Aarts, Jake",19,2021.0,661122,637950,Adelaide Oval,15903,Port Adelaide,Richmond,9/04/2021,...,2021,NaN,NaN,NaN,NaN,2.0,18.0,0.105263,22.0,NaN
4,"Aarts, Jake",19,2021.0,661123,638318,Marvel Stadium,15911,St Kilda,Richmond,15/04/2021,...,2021,NaN,NaN,NaN,NaN,12.0,8.0,0.631579,55.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515859,"vandenBerg, Aaron",7,2018.0,631674,619927,MCG,15397,Melbourne,Greater Western Sydney,26/08/2018,...,2018,NaN,NaN,NaN,NaN,7.0,1.0,1.000000,NaN,103.0
515860,"vandenBerg, Aaron",7,2018.0,631675,620058,MCG,15400,Melbourne,Geelong,7/09/2018,...,2018,NaN,NaN,NaN,NaN,6.0,2.0,0.857143,NaN,NaN
515861,"vandenBerg, Aaron",7,2018.0,631676,620190,MCG,15403,Hawthorn,Melbourne,14/09/2018,...,2018,NaN,NaN,NaN,NaN,2.0,6.0,0.285714,NaN,NaN
515862,"vandenBerg, Aaron",7,2018.0,631677,620324,Optus Stadium,15406,West Coast,Melbourne,22/09/2018,...,2018,NaN,NaN,NaN,NaN,5.0,3.0,0.714286,NaN,NaN
515863,"vandenBerg, Aaron",7,2018.0,631691,643445,MCG,16056,Melbourne,Hawthorn,17/07/2021,...,2021,NaN,NaN,NaN,NaN,1.0,1.0,1.000000,NaN,58.0

In [91]:
#Explode player data by years so that each year matches to every other active year
player_summ_exp = matches_played_min5.merge(joined_data.drop(['matches','year_played'], axis = 1), on =['player_name'], how='inner')\
                

## Limit to games in the same year for 1yr factors, as well as 3 years up to the predicted season, and 5 years up to predicted season
player_summ_exp_1yr = player_summ_exp.query(('year_played == year'))
player_summ_exp_3yr = player_summ_exp.query(('year_played < year + 3')).query(('year_played >= year'))
player_summ_exp_5yr = player_summ_exp.query(('year_played < year + 5')).query(('year_played >= year'))

print(player_summ_exp.shape)
print(player_summ_exp_1yr.shape)
print(player_summ_exp_3yr.shape)
print(player_summ_exp_5yr.shape)

## Test matching works 
pd.set_option('display.max_rows', 50)
player_summ_exp_3yr.groupby(['year_played','year']).agg(countall=('player_name', 'count')).head(50)

(515864, 95)
(84996, 95)
(181868, 95)
(235629, 95)

                  countall
year_played year
2012.0      2012      8191
2013.0      2012      7155
            2013      8192
2014.0      2012      6363
            2013      7002
            2014      8199
2015.0      2013      6327
            2014      7202
            2015      8215
2016.0      2014      6208
            2015      6885
            2016      8704
2017.0      2015      6430
            2016      7508
            2017      8731
2018.0      2016      6540
            2017      7440
            2018      8701
2021.0      2021      8661
2022.0      2021      7434
            2022      8573
2023.0      2021      6857
            2022      7521
            2023      8829

In [92]:
## Average factors over 1 year of game data
model_factors_agg_1yr = player_summ_exp_1yr.groupby(['player_name', 'year_played'])\
.agg({'player_height_cm': 'mean',
'player_weight_kg': 'mean',
'age': 'mean',
'kicks': 'mean',
'marks': 'mean',
'handballs': 'mean',
'handballs': 'mean',
'disposals': 'mean',
'effective_disposals': 'mean',
'disposal_efficiency_percentage': 'mean',
'goals': 'mean',
'behinds': 'mean',
'hitouts': 'mean',
'tackles': 'mean',
'rebounds': 'mean',
'inside_fifties': 'mean',
'clearances': 'mean',
'clangers': 'mean',
'free_kicks_for': 'mean',
'free_kicks_against': 'mean',
'brownlow_votes': 'mean',
'contested_possessions': 'mean',
'uncontested_possessions': 'mean',
'contested_marks': 'mean',
'marks_inside_fifty': 'mean',
'one_percenters': 'mean',
'bounces': 'mean',
'goal_assists': 'mean',
'time_on_ground_percentage': 'mean',
'centre_clearances': 'mean',
'stoppage_clearances': 'mean',
'score_involvements': 'mean',
'metres_gained': 'mean',
'turnovers': 'mean',
'intercepts': 'mean',
'tackles_inside_fifty': 'mean',
'contest_def_losses': 'mean',
'contest_def_one_on_ones': 'mean',
'contest_off_one_on_ones': 'mean',
'contest_off_wins': 'mean',
'def_half_pressure_acts': 'mean',
'effective_kicks': 'mean',
'f50_ground_ball_gets': 'mean',
'ground_ball_gets': 'mean',
'hitouts_to_advantage': 'mean',
'hitout_win_percentage': 'mean',
'intercept_marks': 'mean',
'marks_on_lead': 'mean',
'pressure_acts': 'mean',
'rating_points': 'mean',
'ruck_contests': 'mean',
'score_launches': 'mean',
'shots_at_goal': 'mean',
'spoils': 'mean',
'afl_fantasy_score': 'mean',
'h1_fantasy_score': 'mean',
'h2_fantasy_score': 'mean'
})

model_factors_agg_1yr.columns = [str(col) + '_1yr' for col in model_factors_agg_1yr.columns]

model_factors_agg_1yr

                               player_height_cm_1yr  player_weight_kg_1yr  \
player_name       year_played
Aarts, Jake       2021.0                      177.0                  76.0
Ablett, Gary      2012.0                      182.0                  87.0
                  2013.0                      182.0                  87.0
                  2014.0                      182.0                  87.0
                  2015.0                      182.0                  87.0
...                                             ...                   ...
van Berlo, Nathan 2015.0                        NaN                   NaN
van Rooyen, Jacob 2023.0                      193.0                  96.0
vandenBerg, Aaron 2015.0                      188.0                  94.0
                  2016.0                      188.0                  94.0
                  2018.0                      188.0                  94.0

                               age_1yr  kicks_1yr  marks_1yr  handballs_1yr  \
player_name       year_played
Aarts, Jake       2021.0           NaN   6.263158   2.736842       5.210526
Ablett, Gary      2012.0           NaN  19.450000   3.050000      14.300000
                  2013.0           NaN  16.333333   3.476190      14.857143
                  2014.0           NaN  17.071429   2.071429      15.928571
                  2015.0           NaN  18.000000   2.000000       8.600000
...                                ...        ...        ...            ...
van Berlo, Nathan 2015.0           NaN   9.350000   3.950000       5.950000
van Rooyen, Jacob 2023.0           NaN   4.578947   3.000000       4.052632
vandenBerg, Aaron 2015.0           NaN  11.000000   3.416667       7.083333
                  2016.0           NaN   5.714286   3.071429       8.928571
                  2018.0           NaN   8.714286   4.285714       7.142857

                               disposals_1yr  effective_disposals_1yr  \
player_name       year_played
Aarts, Jake       2021.0           11.473684                 8.684211
Ablett, Gary      2012.0           33.750000                23.789474
                  2013.0           31.190476                20.904762
                  2014.0           33.000000                22.571429
                  2015.0           26.600000                20.800000
...                                      ...                      ...
van Berlo, Nathan 2015.0           15.300000                10.400000
van Rooyen, Jacob 2023.0            8.631579                 6.684211
vandenBerg, Aaron 2015.0           18.083333                10.666667
                  2016.0           14.642857                 9.785714
                  2018.0           15.857143                10.857143

                               disposal_efficiency_percentage_1yr  goals_1yr  \
player_name       year_played
Aarts, Jake       2021.0                                73.210526   0.947368
Ablett, Gary      2012.0                                69.000000   1.300000
                  2013.0                                67.238095   1.333333
                  2014.0                                69.214286   1.714286
                  2015.0                                78.600000   2.000000
...                                                           ...        ...
van Berlo, Nathan 2015.0                                68.350000   0.200000
van Rooyen, Jacob 2023.0                                78.210526   1.421053
vandenBerg, Aaron 2015.0                                57.500000   0.416667
                  2016.0                                66.785714   0.857143
                  2018.0                                69.571429   0.714286

                               ...  marks_on_lead_1yr  pressure_acts_1yr  \
player_name       year_played  ...
Aarts, Jake       2021.0       ...           0.210526          14.105263
Ablett, Gary      2012.0       ...           0.210526          18.789474
                  2013.0       ...           0.666667          16.285714
                  2014.0       ...           0.571429          17.714286
                  2015.0       ...           0.800000          14.400000
...                            ...                ...                ...
van Berlo, Nathan 2015.0       ...           0.150000          12.350000
van Rooyen, Jacob 2023.0       ...           0.526316           9.894737
vandenBerg, Aaron 2015.0       ...           0.416667          16.166667
                  2016.0       ...           0.642857          15.071429
                  2018.0       ...           0.000000          11.714286

                               rating_points_1yr  ruck_contests_1yr  \
player_name       year_played
Aarts, Jake       2021.0                7.289474           0.000000
Ablett, Gary      2012.0               21.370000           0.105263
                  2013.0               20.085714           0.142857
                  2014.0               23.250000           0.000000
                  2015.0               24.160000           0.200000
...                                          ...                ...
van Berlo, Nathan 2015.0                7.385000           0.000000
van Rooyen, Jacob 2023.0                7.247368          11.684211
vandenBerg, Aaron 2015.0               10.066667           0.000000
                  2016.0                8.864286           0.071429
                  2018.0                9.528571           0.000000

                               score_launches_1yr  shots_at_goal_1yr  \
player_name       year_played
Aarts, Jake       2021.0                 0.789474           1.631579
Ablett, Gary      2012.0                 1.684211           2.526316
                  2013.0                 2.142857           2.666667
                  2014.0                 3.000000           2.357143
                  2015.0                 2.000000           2.600000
...                                           ...                ...
van Berlo, Nathan 2015.0                 0.850000           0.600000
van Rooyen, Jacob 2023.0                 0.842105           2.000000
vandenBerg, Aaron 2015.0                 1.000000           1.583333
                  2016.0                 0.357143           1.714286
                  2018.0                 1.000000           1.714286

                               spoils_1yr  afl_fantasy_score_1yr  \
player_name       year_played
Aarts, Jake       2021.0         0.526316              51.157895
Ablett, Gary      2012.0         0.684211             124.700000
                  2013.0         0.523810             114.619048
                  2014.0         0.357143             122.857143
                  2015.0         0.800000             109.000000
...                                   ...                    ...
van Berlo, Nathan 2015.0         0.950000              67.000000
van Rooyen, Jacob 2023.0         1.473684              50.894737
vandenBerg, Aaron 2015.0         0.500000              80.083333
                  2016.0         0.642857              61.142857
                  2018.0         0.857143              66.857143

                               h1_fantasy_score_1yr  h2_fantasy_score_1yr
player_name       year_played
Aarts, Jake       2021.0                  52.700000             49.444444
Ablett, Gary      2012.0                 131.625000            120.083333
                  2013.0                 122.200000            107.727273
                  2014.0                 118.222222            131.200000
                  2015.0                  65.500000            138.000000
...                                             ...                   ...
van Berlo, Nathan 2015.0                  71.100000             64.250000
van Rooyen, Jacob 2023.0                  49.000000             53.800000
vandenBerg, Aaron 2015.0                  78.000000             86.333333
                  2016.0                  53.333333             63.272727
                  2018.0                        NaN             68.000000

[5289 rows x 56 columns]

In [93]:
# Build 3 Year Player Metrics
model_factors_agg_3yr = player_summ_exp_3yr.groupby(['player_name', 'year_played'])\
.agg({'kicks': 'mean',
'marks': 'mean',
'handballs': 'mean',
'handballs': 'mean',
'disposals': 'mean',
'effective_disposals': 'mean',
'disposal_efficiency_percentage': 'mean',
'goals': 'mean',
'behinds': 'mean',
'hitouts': 'mean',
'tackles': 'mean',
'rebounds': 'mean',
'inside_fifties': 'mean',
'clearances': 'mean',
'clangers': 'mean',
'free_kicks_for': 'mean',
'free_kicks_against': 'mean',
'brownlow_votes': 'mean',
'contested_possessions': 'mean',
'uncontested_possessions': 'mean',
'contested_marks': 'mean',
'marks_inside_fifty': 'mean',
'one_percenters': 'mean',
'bounces': 'mean',
'goal_assists': 'mean',
'time_on_ground_percentage': 'mean',
'centre_clearances': 'mean',
'stoppage_clearances': 'mean',
'score_involvements': 'mean',
'metres_gained': 'mean',
'turnovers': 'mean',
'intercepts': 'mean',
'tackles_inside_fifty': 'mean',
'contest_def_losses': 'mean',
'contest_def_one_on_ones': 'mean',
'contest_off_one_on_ones': 'mean',
'contest_off_wins': 'mean',
'def_half_pressure_acts': 'mean',
'effective_kicks': 'mean',
'f50_ground_ball_gets': 'mean',
'ground_ball_gets': 'mean',
'hitouts_to_advantage': 'mean',
'hitout_win_percentage': 'mean',
'intercept_marks': 'mean',
'marks_on_lead': 'mean',
'pressure_acts': 'mean',
'rating_points': 'mean',
'ruck_contests': 'mean',
'score_launches': 'mean',
'shots_at_goal': 'mean',
'spoils': 'mean',
'afl_fantasy_score': 'mean',
'h1_fantasy_score': 'mean',
'h2_fantasy_score': 'mean'
})

model_factors_agg_3yr.columns = [str(col) + '_3yr' for col in model_factors_agg_3yr.columns]

model_factors_agg_3yr

                               kicks_3yr  marks_3yr  handballs_3yr  \
player_name       year_played
Aarts, Jake       2021.0        6.263158   2.736842       5.210526
Ablett, Gary      2012.0       19.450000   3.050000      14.300000
                  2013.0       17.853659   3.268293      14.585366
                  2014.0       17.654545   2.963636      14.927273
                  2015.0       16.800000   2.800000      14.450000
...                                  ...        ...            ...
van Berlo, Nathan 2015.0       10.184211   3.815789       6.026316
van Rooyen, Jacob 2023.0        4.578947   3.000000       4.052632
vandenBerg, Aaron 2015.0       11.000000   3.416667       7.083333
                  2016.0        8.153846   3.230769       8.076923
                  2018.0        6.714286   3.476190       8.333333

                               disposals_3yr  effective_disposals_3yr  \
player_name       year_played
Aarts, Jake       2021.0           11.473684                 8.684211
Ablett, Gary      2012.0           33.750000                23.789474
                  2013.0           32.439024                22.275000
                  2014.0           32.581818                22.351852
                  2015.0           31.250000                21.475000
...                                      ...                      ...
van Berlo, Nathan 2015.0           16.210526                10.421053
van Rooyen, Jacob 2023.0            8.631579                 6.684211
vandenBerg, Aaron 2015.0           18.083333                10.666667
                  2016.0           16.230769                10.192308
                  2018.0           15.047619                10.142857

                               disposal_efficiency_percentage_3yr  goals_3yr  \
player_name       year_played
Aarts, Jake       2021.0                                73.210526   0.947368
Ablett, Gary      2012.0                                69.000000   1.300000
                  2013.0                                68.097561   1.317073
                  2014.0                                68.381818   1.418182
                  2015.0                                69.350000   1.550000
...                                                           ...        ...
van Berlo, Nathan 2015.0                                64.578947   0.315789
van Rooyen, Jacob 2023.0                                78.210526   1.421053
vandenBerg, Aaron 2015.0                                57.500000   0.416667
                  2016.0                                62.500000   0.653846
                  2018.0                                67.714286   0.809524

                               behinds_3yr  hitouts_3yr  tackles_3yr  ...  \
player_name       year_played                                         ...
Aarts, Jake       2021.0          0.578947     0.000000     2.684211  ...
Ablett, Gary      2012.0          0.950000     0.000000     5.500000  ...
                  2013.0          1.024390     0.000000     5.024390  ...
                  2014.0          0.890909     0.000000     5.327273  ...
                  2015.0          0.825000     0.000000     5.250000  ...
...                                    ...          ...          ...  ...
van Berlo, Nathan 2015.0          0.394737     0.078947     3.578947  ...
van Rooyen, Jacob 2023.0          0.421053     3.631579     2.210526  ...
vandenBerg, Aaron 2015.0          0.916667     0.083333     5.333333  ...
                  2016.0          0.769231     0.076923     4.384615  ...
                  2018.0          0.714286     0.047619     3.428571  ...

                               marks_on_lead_3yr  pressure_acts_3yr  \
player_name       year_played
Aarts, Jake       2021.0                0.210526          14.105263
Ablett, Gary      2012.0                0.210526          18.789474
                  2013.0                0.450000          17.475000
                  2014.0                0.481481          17.537037
                  2015.0                0.650000          16.550000
...                                          ...                ...
van Berlo, Nathan 2015.0                0.289474          13.289474
van Rooyen, Jacob 2023.0                0.526316           9.894737
vandenBerg, Aaron 2015.0                0.416667          16.166667
                  2016.0                0.538462          15.576923
                  2018.0                0.428571          13.952381

                               rating_points_3yr  ruck_contests_3yr  \
player_name       year_played
Aarts, Jake       2021.0                7.289474           0.000000
Ablett, Gary      2012.0               21.370000           0.105263
                  2013.0               20.712195           0.125000
                  2014.0               21.358182           0.092593
                  2015.0               21.702500           0.100000
...                                          ...                ...
van Berlo, Nathan 2015.0                7.660526           0.000000
van Rooyen, Jacob 2023.0                7.247368          11.684211
vandenBerg, Aaron 2015.0               10.066667           0.000000
                  2016.0                9.419231           0.038462
                  2018.0                9.085714           0.047619

                               score_launches_3yr  shots_at_goal_3yr  \
player_name       year_played
Aarts, Jake       2021.0                 0.789474           1.631579
Ablett, Gary      2012.0                 1.684211           2.526316
                  2013.0                 1.925000           2.600000
                  2014.0                 2.203704           2.537037
                  2015.0                 2.425000           2.550000
...                                           ...                ...
van Berlo, Nathan 2015.0                 0.842105           0.842105
van Rooyen, Jacob 2023.0                 0.842105           2.000000
vandenBerg, Aaron 2015.0                 1.000000           1.583333
                  2016.0                 0.653846           1.653846
                  2018.0                 0.571429           1.714286

                               spoils_3yr  afl_fantasy_score_3yr  \
player_name       year_played
Aarts, Jake       2021.0         0.526316              51.157895
Ablett, Gary      2012.0         0.684211             124.700000
                  2013.0         0.600000             119.536585
                  2014.0         0.537037             120.381818
                  2015.0         0.500000             116.800000
...                                   ...                    ...
van Berlo, Nathan 2015.0         0.894737              68.394737
van Rooyen, Jacob 2023.0         1.473684              50.894737
vandenBerg, Aaron 2015.0         0.500000              80.083333
                  2016.0         0.576923              69.884615
                  2018.0         0.714286              63.047619

                               h1_fantasy_score_3yr  h2_fantasy_score_3yr
player_name       year_played
Aarts, Jake       2021.0                  52.700000             49.444444
Ablett, Gary      2012.0                 131.625000            120.083333
                  2013.0                 126.388889            114.173913
                  2014.0                 123.666667            117.214286
                  2015.0                 115.095238            118.684211
...                                             ...                   ...
van Berlo, Nathan 2015.0                  71.500000             67.000000
van Rooyen, Jacob 2023.0                  49.000000             53.800000
vandenBerg, Aaron 2015.0                  78.000000             86.333333
                  2016.0                  71.833333             68.214286
                  2018.0                  53.333333             64.533333

[5289 rows x 53 columns]

In [94]:
# Build 5 Year Player Metrics

model_factors_agg_5yr = player_summ_exp_5yr.groupby(['player_name', 'year_played'])\
.agg({'kicks': 'mean',
'marks': 'mean',
'handballs': 'mean',
'handballs': 'mean',
'disposals': 'mean',
'effective_disposals': 'mean',
'disposal_efficiency_percentage': 'mean',
'goals': 'mean',
'behinds': 'mean',
'hitouts': 'mean',
'tackles': 'mean',
'rebounds': 'mean',
'inside_fifties': 'mean',
'clearances': 'mean',
'clangers': 'mean',
'free_kicks_for': 'mean',
'free_kicks_against': 'mean',
'brownlow_votes': 'mean',
'contested_possessions': 'mean',
'uncontested_possessions': 'mean',
'contested_marks': 'mean',
'marks_inside_fifty': 'mean',
'one_percenters': 'mean',
'bounces': 'mean',
'goal_assists': 'mean',
'time_on_ground_percentage': 'mean',
'centre_clearances': 'mean',
'stoppage_clearances': 'mean',
'score_involvements': 'mean',
'metres_gained': 'mean',
'turnovers': 'mean',
'intercepts': 'mean',
'tackles_inside_fifty': 'mean',
'contest_def_losses': 'mean',
'contest_def_one_on_ones': 'mean',
'contest_off_one_on_ones': 'mean',
'contest_off_wins': 'mean',
'def_half_pressure_acts': 'mean',
'effective_kicks': 'mean',
'f50_ground_ball_gets': 'mean',
'ground_ball_gets': 'mean',
'hitouts_to_advantage': 'mean',
'hitout_win_percentage': 'mean',
'intercept_marks': 'mean',
'marks_on_lead': 'mean',
'pressure_acts': 'mean',
'rating_points': 'mean',
'ruck_contests': 'mean',
'score_launches': 'mean',
'shots_at_goal': 'mean',
'spoils': 'mean',
'afl_fantasy_score': 'mean',
'h1_fantasy_score': 'mean',
'h2_fantasy_score': 'mean'
})

model_factors_agg_5yr.columns = [str(col) + '_5yr' for col in model_factors_agg_5yr.columns]

model_factors_agg_5yr

                               kicks_5yr  marks_5yr  handballs_5yr  \
player_name       year_played
Aarts, Jake       2021.0        6.263158   2.736842       5.210526
Ablett, Gary      2012.0       19.450000   3.050000      14.300000
                  2013.0       17.853659   3.268293      14.585366
                  2014.0       17.654545   2.963636      14.927273
                  2015.0       17.683333   2.883333      14.400000
...                                  ...        ...            ...
van Berlo, Nathan 2015.0       11.000000   4.098361       6.327869
van Rooyen, Jacob 2023.0        4.578947   3.000000       4.052632
vandenBerg, Aaron 2015.0       11.000000   3.416667       7.083333
                  2016.0        8.153846   3.230769       8.076923
                  2018.0        8.272727   3.454545       7.878788

                               disposals_5yr  effective_disposals_5yr  \
player_name       year_played
Aarts, Jake       2021.0           11.473684                 8.684211
Ablett, Gary      2012.0           33.750000                23.789474
                  2013.0           32.439024                22.275000
                  2014.0           32.581818                22.351852
                  2015.0           32.083333                22.220339
...                                      ...                      ...
van Berlo, Nathan 2015.0           17.327869                11.283333
van Rooyen, Jacob 2023.0            8.631579                 6.684211
vandenBerg, Aaron 2015.0           18.083333                10.666667
                  2016.0           16.230769                10.192308
                  2018.0           16.151515                10.333333

                               disposal_efficiency_percentage_5yr  goals_5yr  \
player_name       year_played
Aarts, Jake       2021.0                                73.210526   0.947368
Ablett, Gary      2012.0                                69.000000   1.300000
                  2013.0                                68.097561   1.317073
                  2014.0                                68.381818   1.418182
                  2015.0                                69.233333   1.466667
...                                                           ...        ...
van Berlo, Nathan 2015.0                                66.491803   0.409836
van Rooyen, Jacob 2023.0                                78.210526   1.421053
vandenBerg, Aaron 2015.0                                57.500000   0.416667
                  2016.0                                62.500000   0.653846
                  2018.0                                64.000000   0.666667

                               behinds_5yr  hitouts_5yr  tackles_5yr  ...  \
player_name       year_played                                         ...
Aarts, Jake       2021.0          0.578947     0.000000     2.684211  ...
Ablett, Gary      2012.0          0.950000     0.000000     5.500000  ...
                  2013.0          1.024390     0.000000     5.024390  ...
                  2014.0          0.890909     0.000000     5.327273  ...
                  2015.0          0.866667     0.000000     5.333333  ...
...                                    ...          ...          ...  ...
van Berlo, Nathan 2015.0          0.409836     0.065574     4.245902  ...
van Rooyen, Jacob 2023.0          0.421053     3.631579     2.210526  ...
vandenBerg, Aaron 2015.0          0.916667     0.083333     5.333333  ...
                  2016.0          0.769231     0.076923     4.384615  ...
                  2018.0          0.787879     0.060606     4.121212  ...

                               marks_on_lead_5yr  pressure_acts_5yr  \
player_name       year_played
Aarts, Jake       2021.0                0.210526          14.105263
Ablett, Gary      2012.0                0.210526          18.789474
                  2013.0                0.450000          17.475000
                  2014.0                0.481481          17.537037
                  2015.0                0.508475          17.271186
...                                          ...                ...
van Berlo, Nathan 2015.0                0.250000          14.616667
van Rooyen, Jacob 2023.0                0.526316           9.894737
vandenBerg, Aaron 2015.0                0.416667          16.166667
                  2016.0                0.538462          15.576923
                  2018.0                0.424242          14.757576

                               rating_points_5yr  ruck_contests_5yr  \
player_name       year_played
Aarts, Jake       2021.0                7.289474           0.000000
Ablett, Gary      2012.0               21.370000           0.105263
                  2013.0               20.712195           0.125000
                  2014.0               21.358182           0.092593
                  2015.0               21.591667           0.101695
...                                          ...                ...
van Berlo, Nathan 2015.0                8.721311           0.000000
van Rooyen, Jacob 2023.0                7.247368          11.684211
vandenBerg, Aaron 2015.0               10.066667           0.000000
                  2016.0                9.419231           0.038462
                  2018.0                9.442424           0.030303

                               score_launches_5yr  shots_at_goal_5yr  \
player_name       year_played
Aarts, Jake       2021.0                 0.789474           1.631579
Ablett, Gary      2012.0                 1.684211           2.526316
                  2013.0                 1.925000           2.600000
                  2014.0                 2.203704           2.537037
                  2015.0                 2.186441           2.542373
...                                           ...                ...
van Berlo, Nathan 2015.0                 0.866667           0.916667
van Rooyen, Jacob 2023.0                 0.842105           2.000000
vandenBerg, Aaron 2015.0                 1.000000           1.583333
                  2016.0                 0.653846           1.653846
                  2018.0                 0.727273           1.666667

                               spoils_5yr  afl_fantasy_score_5yr  \
player_name       year_played
Aarts, Jake       2021.0         0.526316              51.157895
Ablett, Gary      2012.0         0.684211             124.700000
                  2013.0         0.600000             119.536585
                  2014.0         0.537037             120.381818
                  2015.0         0.559322             119.433333
...                                   ...                    ...
van Berlo, Nathan 2015.0         0.833333              75.606557
van Rooyen, Jacob 2023.0         1.473684              50.894737
vandenBerg, Aaron 2015.0         0.500000              80.083333
                  2016.0         0.576923              69.884615
                  2018.0         0.636364              69.242424

                               h1_fantasy_score_5yr  h2_fantasy_score_5yr
player_name       year_played
Aarts, Jake       2021.0                  52.700000             49.444444
Ablett, Gary      2012.0                 131.625000            120.083333
                  2013.0                 126.388889            114.173913
                  2014.0                 123.666667            117.214286
                  2015.0                 119.655172            119.225806
...                                             ...                   ...
van Berlo, Nathan 2015.0                  82.560000             70.967742
van Rooyen, Jacob 2023.0                  49.000000             53.800000
vandenBerg, Aaron 2015.0                  78.000000             86.333333
                  2016.0                  71.833333             68.214286
                  2018.0                  71.833333             68.166667

[5289 rows x 53 columns]

In [95]:
# Most common position for the year
# Calculate most common position played over past year
# Consider grouping if needed to remove specificity (e.g. Left and Right indicators probably not useful)


# Games player per year. Filter to only where games >= 5
# position_mapp = joined_data.groupby(['player_name','year']).agg({'match_date': 'count'})\
#     .query('match_date >=5')

position_data = joined_data

position_data['position_grouped'] = np.select(
    [
     position_data['player_position'].isin(["FB"]), 
     position_data['player_position'].isin(["BPL", "BPR"]),
     position_data['player_position'].isin(["CHB"]), 
     position_data['player_position'].isin(["HBFL", "HBFR"]),
     position_data['player_position'].isin(["RK"]), 
     position_data['player_position'].isin(["C", "RR" ,"R"]),
     position_data['player_position'].isin(["WL", "WR"]), 
     position_data['player_position'].isin(["FF"]),
     position_data['player_position'].isin(["FPL", "FPR"]),
     position_data['player_position'].isin(["HFFL", "HFFR"]),
     position_data['player_position'].isin(["CHF"]),
     position_data['player_position'].isin(["INT", "SUB"])
    ],
    [
      'FB',
      'BP',
      'CHB',
      'HBF',
      'RUCK',
      'C',
      'W',
      'FF',
      'FP',
      'HFF',
      'CHF',
      'Ignore'  
    ], 
    default='Other'
     )

## Test no positions have not been allocated. Result = 0 rows
# joined_data.query('position_grouped in ["Other"]')\
#     .groupby(['player_position']).agg(matches=('match_date', 'count'))

position_data['matches'] = position_data.groupby(['player_name', 'year','position_grouped'])['match_id'].transform('count')

# Find most common position, ignoring sub and interchange scores
position_data['rank'] = position_data.query('position_grouped not in ["Ignore"]').groupby(['player_name', 'year'])['matches'].rank(method="first", ascending=False)

player_pos_yearly = position_data.query('rank == 1')[['player_name', 'year','position_grouped']]

player_pos_yearly['position_grouped_simple'] = np.select(
    [
     player_pos_yearly['position_grouped'].isin(["FB", "BP","FF","FP"]), 
     player_pos_yearly['position_grouped'].isin(["CHB","CHF","C"]), 
     player_pos_yearly['position_grouped'].isin(["HBF", "W", "HFF"]),
     player_pos_yearly['position_grouped'].isin(["RUCK"])
    ],
    [
      'Key_Position',
      'Centres',
      'Wings_Flank',
      'Ruck'
    ], 
    default='Other'
     )

# Test output
player_pos_yearly.query('player_name == "Himmelberg, Harry"')

             player_name  year position_grouped position_grouped_simple
71170  Himmelberg, Harry  2016               FP            Key_Position
71175  Himmelberg, Harry  2017               FP            Key_Position
71185  Himmelberg, Harry  2018               FF            Key_Position
71221  Himmelberg, Harry  2021              CHF                 Centres
71233  Himmelberg, Harry  2022              CHF                 Centres
71266  Himmelberg, Harry  2023              CHB                 Centres

## Response variable

In [96]:
# Average AFL fantasy score per season
response_var = joined_data.groupby(['player_name','year']).agg(matches=('match_date', 'count'),year_int=('year', 'mean'),avg_score=('afl_fantasy_score', 'mean'))\
    .query('matches >= 5').query('avg_score > 0')\
    .sort_values(by=['avg_score'], ascending=False)

# Subtract 1 year from AFL score so it matches to factors from last year
response_var['predicted_year'] = response_var['year_int'] - 1

response_var

                      matches  year_int   avg_score  predicted_year
player_name     year
Rockliff, Tom   2014       18    2014.0  134.777778          2013.0
Swan, Dane      2012       21    2012.0  130.666667          2011.0
Rockliff, Tom   2016       15    2016.0  128.400000          2015.0
Mitchell, Tom   2018       24    2018.0  128.166667          2017.0
                2017       22    2017.0  127.181818          2016.0
...                       ...       ...         ...             ...
Gardner, Ryan   2021        7    2021.0   29.000000          2020.0
Spicer, Phoenix 2022        5    2022.0   27.000000          2021.0
Blanck, James   2023       13    2023.0   25.307692          2022.0
Cadman, Aaron   2023        7    2023.0   24.142857          2022.0
Brown, Nathan   2017       22    2017.0   23.136364          2016.0

[5289 rows x 4 columns]

## Join all factors together

In [97]:
## Player / year combos to include
factors = player_summ.merge(seasons_active, left_on=['player_name'], right_on=['player_name'], how='inner')\
           .merge(player_pos_yearly, left_on=['player_name', 'year_played'], right_on=['player_name', 'year'], how='inner')\
           .merge(model_factors_agg_1yr, left_on=['player_name', 'year_played'], right_on=['player_name', 'year_played'], how='inner')\
           .merge(model_factors_agg_3yr, left_on=['player_name', 'year_played'], right_on=['player_name', 'year_played'], how='inner')\
           .merge(model_factors_agg_5yr, left_on=['player_name', 'year_played'], right_on=['player_name', 'year_played'], how='inner')\
           .merge(response_var, left_on=['player_name', 'year_played'], right_on=['player_name', 'predicted_year'], how='left')\


## Add delta factors. Use lazy difference between 1 year and 3 year average

factors['fantasy_score_yearly_change'] = (factors['afl_fantasy_score_1yr'] - factors['afl_fantasy_score_3yr']).fillna(0)
factors['fantasy_score_inyear_change'] = (factors['h2_fantasy_score_1yr'] - factors['h1_fantasy_score_1yr']).fillna(0)

## Create factor that scales up young players based on expected YoY growth

In [100]:
## Calculate average season growth based on player age

player_growth = factors.dropna(axis= 0, how='any').groupby(['age_1yr']).agg({'fantasy_score_yearly_change': 'mean'})
player_growth_pos = factors.dropna(axis= 0, how='any').groupby(['age_1yr', 'position_grouped_simple']).agg({'fantasy_score_yearly_change': 'mean'})

player_growth_pos.rename(columns={'fantasy_score_yearly_change':'fantasy_score_yearly_change_exp'}, inplace=True)

# Add to factors
factors = factors.merge(player_growth_pos, on=['age_1yr', 'position_grouped_simple'], how='left')\

# Fill nulls with 0
factors['fantasy_score_yearly_change_exp'] = (factors['fantasy_score_yearly_change_exp']).fillna(0)

# Fill blank ages with 26, AFL average
factors['age_1yr'] = (factors['age_1yr']).fillna(26)

player_growth_pos

KeyError: 'fantasy_score_yearly_change_exp'

In [104]:
player_growth.head(100)

         fantasy_score_yearly_change
age_1yr
19.0                        0.000000
20.0                        1.413972
21.0                        2.815553
22.0                        3.446957
23.0                        1.491049
24.0                        1.397633
25.0                        0.926172
26.0                        0.923742
27.0                        2.218640
28.0                       -0.327263
29.0                       -0.535584
30.0                       -1.298936
31.0                       -1.750252
32.0                       -2.156990
33.0                       -1.480093
34.0                       -1.567278
35.0                       -1.828011

# Export factors

In [99]:
print(factors.shape)
print(factors.head(10))
factors.to_csv(r'C:\Users\anoble\Git\Outside_Work\AFL Fantasy\Data\Inputs\factors.csv',mode='w+')

(3226, 176)
    player_name  matches_x  year_played  years_active  year position_grouped  \
0   Aarts, Jake         12       2021.0             2  2021              HFF
1  Ablett, Gary         18       2012.0             7  2012                C
2  Ablett, Gary         18       2013.0             7  2013                C
3  Ablett, Gary         12       2014.0             7  2014                C
4  Ablett, Gary         10       2017.0             7  2017                C
5  Ablett, Gary         12       2018.0             7  2018                C
6  Acres, Blake         12       2017.0             8  2017               FP
7  Acres, Blake         14       2021.0             8  2021                W
8  Acres, Blake         17       2022.0             8  2022                W
9  Acres, Blake         13       2023.0             8  2023                W

  position_grouped_simple  player_height_cm_1yr  player_weight_kg_1yr  \
0             Wings_Flank                 177.0                  76.0
1                 Centres                 182.0                  87.0
2                 Centres                 182.0                  87.0
3                 Centres                 182.0                  87.0
4                 Centres                 182.0                  87.0
5                 Centres                 182.0                  87.0
6            Key_Position                 193.0                  92.0
7             Wings_Flank                 193.0                  92.0
8             Wings_Flank                 193.0                  92.0
9             Wings_Flank                 193.0                  92.0

   age_1yr  ...  afl_fantasy_score_5yr  h1_fantasy_score_5yr  \
0     26.0  ...              51.157895             52.700000
1     26.0  ...             124.700000            131.625000
2     26.0  ...             119.536585            126.388889
3     26.0  ...             120.381818            123.666667
4     26.0  ...             114.000000            112.052632
5     26.0  ...             110.969697            106.500000
6     22.0  ...              73.105263             77.437500
7     26.0  ...              74.104167             79.307692
8     27.0  ...              77.600000             80.346154
9     28.0  ...              80.661290             81.607143

   h2_fantasy_score_5yr  matches_y  year_int   avg_score  predicted_year  \
0             49.444444        NaN       NaN         NaN             NaN
1            120.083333       21.0    2013.0  114.619048          2012.0
2            114.173913       14.0    2014.0  122.857143          2013.0
3            117.214286        5.0    2015.0  109.000000          2014.0
4            116.466667       19.0    2018.0  104.157895          2017.0
5            115.903226        NaN       NaN         NaN             NaN
6             69.954545       12.0    2018.0   80.500000          2017.0
7             67.954545       20.0    2022.0   86.250000          2021.0
8             72.772727       24.0    2023.0   86.958333          2022.0
9             79.137931        NaN       NaN         NaN             NaN

   fantasy_score_yearly_change  fantasy_score_inyear_change  \
0                     0.000000                    -3.255556
1                     0.000000                   -11.541667
2                    -4.917538                   -14.472727
3                     2.475325                    12.977778
4                     8.937229                     3.583333
5                    -3.480403                     9.500000
6                     4.186186                   -14.000000
7                     0.000000                    -3.250000
8                     9.565789                    -5.222222
9                     6.297043                    -4.583333

   fantasy_score_yearly_change_exp
0                         0.000000
1                         0.000000
2                         0.000000
3                         0.000000
4                         0.000000
5                         0.000000
6                         2.336064
7                         0.929344
8                         3.325005
9                        -0.060935

[10 rows x 176 columns]