In [54]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import *
from pandas import DataFrame
import datetime
import strptime

ModuleNotFoundError: No module named 'strptime'

In [74]:
## Read in Databases
df = pd.read_csv(r'C:\Users\anoble\Downloads\fryziggafl\fryziggafl.csv')
players = pd.read_csv(r'C:\Users\anoble\Downloads\fryziggafl\player_stats.csv')

## Merge game stats with player info
df['player_name'] = df['player_last_name'].astype(str) + ", " + df['player_first_name']
joined_data = df.merge(players, on=['player_name'],how='outer')

## Filter to only games from 2021 onwards (Write to csv for checks)
joined_data = joined_data.query('match_id >= 15875')
# df_limit.to_csv(r'C:\Users\anoble\Downloads\fryziggafl\fryziggafl_limited.csv')

joined_data

C:\Users\anoble\AppData\Local\Temp\ipykernel_10112\4140569957.py:2: DtypeWarning: Columns (8,18,24,79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\anoble\Downloads\fryziggafl\fryziggafl.csv')

,Unnamed: 0,venue_name,match_id,match_home_team,match_away_team,match_date,match_local_time,match_attendance,match_round,match_home_team_goals,...,subbed,player_position,player_name,playerId,height,weight,dob,position,origin,age
9968,636655.0,MCG,15875.0,Richmond,Carlton,2021-03-18,19:25:00,0.0,1,15.0,...,NaN,INT,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
9969,637342.0,MCG,15890.0,Hawthorn,Richmond,2021-03-28,13:10:00,0.0,2,7.0,...,NaN,INT,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
9970,637616.0,MCG,15896.0,Richmond,Sydney,2021-04-03,13:45:00,0.0,3,10.0,...,NaN,INT,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
9971,637939.0,Adelaide Oval,15903.0,Port Adelaide,Richmond,2021-04-09,19:20:00,0.0,4,11.0,...,NaN,R,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
9972,638308.0,Marvel Stadium,15911.0,St Kilda,Richmond,2021-04-15,19:20:00,0.0,5,7.0,...,NaN,R,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667147,664863.0,MCG,16569.0,Hawthorn,Fremantle,2023-08-26,13:45:00,0.0,24,8.0,...,NaN,INT,"Emmett, Tom",NaN,NaN,NaN,NaN,NaN,NaN,NaN
667148,665000.0,GMHBA Stadium,16572.0,Geelong,Western Bulldogs,2023-08-26,19:25:00,0.0,24,11.0,...,NaN,SUB,"Clohesy, Ted",NaN,NaN,NaN,NaN,NaN,NaN,NaN
667149,665001.0,GMHBA Stadium,16572.0,Geelong,Western Bulldogs,2023-08-26,19:25:00,0.0,24,11.0,...,NaN,RK,"Conway, Toby",NaN,NaN,NaN,NaN,NaN,NaN,NaN
667150,665092.0,Adelaide Oval,16574.0,Port Adelaide,Richmond,2023-08-27,12:00:00,0.0,24,13.0,...,NaN,BPL,"Trezise, James",NaN,NaN,NaN,NaN,NaN,NaN,NaN
667151,665093.0,Adelaide Oval,16574.0,Port Adelaide,Richmond,2023-08-27,12:00:00,0.0,24,13.0,...,NaN,INT,"Brown, Tom",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
test_ND = joined_data.query('player_name in ["Daicos, Nick"]').head(50)

test_ND.agg({'afl_fantasy_score': 'mean'})

afl_fantasy_score    97.425532
dtype: float64

In [83]:
## Read in Databases
df = pd.read_csv(r'C:\Users\anoble\Downloads\fryziggafl\fryziggafl.csv')
players = pd.read_csv(r'C:\Users\anoble\Downloads\fryziggafl\player_stats.csv')

## Merge game stats with player info
df['player_name'] = df['player_last_name'].astype(str) + ", " + df['player_first_name']
joined_data = df.merge(players, on=['player_name'],how='outer')

## Filter to only games from 2021 onwards (Write to csv for checks)
joined_data = joined_data.query('match_id >= 15875')
# df_limit.to_csv(r'C:\Users\anoble\Downloads\fryziggafl\fryziggafl_limited.csv')

# Aggregate 
avg_scores = joined_data.groupby(['player_team', 'player_first_name', 'player_last_name','player_name', 'age'])\
.agg({'afl_fantasy_score': 'mean'})\
.sort_values(by=['afl_fantasy_score'], ascending=False)\

pd.set_option('display.max_rows', 10)
# print(avg_scores)
avg_scores.query('age < 22').head(10)

                                                                           afl_fantasy_score
player_team      player_first_name player_last_name player_name     age
Sydney           Errol             Gulden           Gulden, Errol   21.55          90.328358
Geelong          Tanner            Bruhn            Bruhn, Tanner   21.69          70.684211
                 Max               Holmes           Holmes, Max     21.44          63.333333
Adelaide         Sam               Berry            Berry, Sam      21.98          62.666667
Collingwood      Caleb             Poulter          Poulter, Caleb  21.32          62.250000
Melbourne        Jake              Bowey            Bowey, Jake     21.40          61.361702
North Melbourne  Tom               Powell           Powell, Tom     21.93          59.866667
Essendon         Archie            Perkins          Perkins, Archie 21.86          57.967742
Western Bulldogs Caleb             Poulter          Poulter, Caleb  21.32          56.666667
Geelong          Oliver            Henry            Henry, Oliver   21.52          55.863636