In [122]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import *
from pandas import DataFrame
import datetime

In [123]:
## Read in Databases (change loc to shared one with PM)
df = pd.read_csv(r'C:\Users\anoble\Downloads\fryziggafl\fryziggafl.csv')
players = pd.read_csv(r'C:\Users\anoble\Downloads\fryziggafl\player_stats.csv') ## Note this doesnt have players since 2021, so we need a new source

## Merge game stats with player info
df['player_name'] = df['player_last_name'].astype(str) + ", " + df['player_first_name']
joined_data = df.merge(players, on=['player_name'],how='outer')

## Filter to only games from 2021 onwards (Write to csv for checks)
joined_data = joined_data.query('match_id >= 15875')
# df_limit.to_csv(r'C:\Users\anoble\Downloads\fryziggafl\fryziggafl_limited.csv')

joined_data

C:\Users\anoble\AppData\Local\Temp\ipykernel_23044\1921645630.py:2: DtypeWarning: Columns (8,18,24,79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\anoble\Downloads\fryziggafl\fryziggafl.csv')

,Unnamed: 0,venue_name,match_id,match_home_team,match_away_team,match_date,match_local_time,match_attendance,match_round,match_home_team_goals,...,subbed,player_position,player_name,playerId,height,weight,dob,position,origin,age
9968,636655.0,MCG,15875.0,Richmond,Carlton,2021-03-18,19:25:00,0.0,1,15.0,...,NaN,INT,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
9969,637342.0,MCG,15890.0,Hawthorn,Richmond,2021-03-28,13:10:00,0.0,2,7.0,...,NaN,INT,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
9970,637616.0,MCG,15896.0,Richmond,Sydney,2021-04-03,13:45:00,0.0,3,10.0,...,NaN,INT,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
9971,637939.0,Adelaide Oval,15903.0,Port Adelaide,Richmond,2021-04-09,19:20:00,0.0,4,11.0,...,NaN,R,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
9972,638308.0,Marvel Stadium,15911.0,St Kilda,Richmond,2021-04-15,19:20:00,0.0,5,7.0,...,NaN,R,"Graham, Jack",2.017717e+09,181.0,82.0,25-Feb-98,"Midfield, Forward",North Adelaide,25.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667147,664863.0,MCG,16569.0,Hawthorn,Fremantle,2023-08-26,13:45:00,0.0,24,8.0,...,NaN,INT,"Emmett, Tom",NaN,NaN,NaN,NaN,NaN,NaN,NaN
667148,665000.0,GMHBA Stadium,16572.0,Geelong,Western Bulldogs,2023-08-26,19:25:00,0.0,24,11.0,...,NaN,SUB,"Clohesy, Ted",NaN,NaN,NaN,NaN,NaN,NaN,NaN
667149,665001.0,GMHBA Stadium,16572.0,Geelong,Western Bulldogs,2023-08-26,19:25:00,0.0,24,11.0,...,NaN,RK,"Conway, Toby",NaN,NaN,NaN,NaN,NaN,NaN,NaN
667150,665092.0,Adelaide Oval,16574.0,Port Adelaide,Richmond,2023-08-27,12:00:00,0.0,24,13.0,...,NaN,BPL,"Trezise, James",NaN,NaN,NaN,NaN,NaN,NaN,NaN
667151,665093.0,Adelaide Oval,16574.0,Port Adelaide,Richmond,2023-08-27,12:00:00,0.0,24,13.0,...,NaN,INT,"Brown, Tom",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
# Aggregate and test
avg_scores = joined_data.groupby(['player_team', 'player_first_name', 'player_last_name','player_name', 'age'])\
.agg({'afl_fantasy_score': 'mean'})\
.sort_values(by=['afl_fantasy_score'], ascending=False)\

pd.set_option('display.max_rows', 10)
# print(avg_scores)
avg_scores.query('age < 22').head(10)

C:\Users\anoble\AppData\Local\Temp\ipykernel_23044\2954463564.py:2: DtypeWarning: Columns (8,18,24,79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\anoble\Downloads\fryziggafl\fryziggafl.csv')

                                                                           afl_fantasy_score
player_team      player_first_name player_last_name player_name     age
Sydney           Errol             Gulden           Gulden, Errol   21.55          90.328358
Geelong          Tanner            Bruhn            Bruhn, Tanner   21.69          70.684211
                 Max               Holmes           Holmes, Max     21.44          63.333333
Adelaide         Sam               Berry            Berry, Sam      21.98          62.666667
Collingwood      Caleb             Poulter          Poulter, Caleb  21.32          62.250000
Melbourne        Jake              Bowey            Bowey, Jake     21.40          61.361702
North Melbourne  Tom               Powell           Powell, Tom     21.93          59.866667
Essendon         Archie            Perkins          Perkins, Archie 21.86          57.967742
Western Bulldogs Caleb             Poulter          Poulter, Caleb  21.32          56.666667
Geelong          Oliver            Henry            Henry, Oliver   21.52          55.863636

# Model file: (Alec)
Every players stat for a full season (average). What was their score the year after
Exclude players with <5 games
Exclude combos where position change impacted score by +- certain amount
Calc most common position per player per year (group if needed) 

1) PM to build a cleaned data file (friggy game database, join on player stats)
2) AN build model file off existing data (sub cleaned data in later)
3) Distributions and correlation analysis
4) Run model. Go through factor reduction

In [126]:
# Identify the seasons played for each player. 
# Remove seasons where game played <=5 
# Rank seasons for each player - e.g. most recent season with >5 games = 1, then 2 and so on. 
# It will be different depending on player, for example 2021 for Zac Williams will be Season 2 whereas for Jack Steele thats season 3


# Extract year from Match Date
joined_data['year'] = pd.DatetimeIndex(joined_data['match_date']).year

# Games player per year. Filter to only where games >= 5, and remove 2023 as we have no response variable for recent scores
player_summ = joined_data.groupby(['player_name','year']).agg(matches=('match_date', 'count'),year_int=('year', 'mean'))\
    .query('matches >=5' )\
    .query('year != 2023') 

# # Row Number to rank seasons in ascending order. 
# player_summ['season_rank_desc'] = player_summ.groupby('player_name')['year'].rank(method="first", ascending=False)
player_summ['season_rank_asc'] = player_summ.groupby('player_name')['year_int'].rank(method="first", ascending=False)

player_summ

                          matches  year_int  season_rank_asc
player_name       year
Aanensen, Vic     1973.0       18    1973.0              3.0
                  1974.0       13    1974.0              2.0
                  1975.0        8    1975.0              1.0
Aarts, Jake       2020.0       14    2020.0              3.0
                  2021.0       21    2021.0              2.0
...                           ...       ...              ...
van Berlo, Nathan 2015.0       20    2015.0              1.0
vandenBerg, Aaron 2015.0       14    2015.0              4.0
                  2016.0       14    2016.0              3.0
                  2018.0        7    2018.0              2.0
                  2020.0       12    2020.0              1.0

[43184 rows x 3 columns]

## Response variable

In [127]:
# Average AFL fantasy score per season
response_var = joined_data.groupby(['player_name','year']).agg(matches=('match_date', 'count'),year_int=('year', 'mean'),avg_score=('afl_fantasy_score', 'mean'))\
    .query('matches >= 5').query('avg_score > 0')\
    .sort_values(by=['avg_score'], ascending=False)

# Subtract 1 year from AFL score so it matches to factors from last year
response_var['predicted_year'] = response_var['year_int'] - 1

response_var

                       matches  year_int   avg_score  predicted_year
player_name    year
Rockliff, Tom  2014.0       18    2014.0  134.777778          2013.0
Swan, Dane     2012.0       21    2012.0  130.666667          2011.0
Mitchell, Tom  2018.0       24    2018.0  128.166667          2017.0
               2017.0       22    2017.0  127.181818          2016.0
Ablett, Gary   2012.0       20    2012.0  124.700000          2011.0
...                        ...       ...         ...             ...
Wanganeen, Tex 2022.0        5    2022.0   17.600000          2021.0
Berry, Thomas  2021.0       11    2021.0   16.909091          2020.0
Morris, Josh   2021.0        5    2021.0    8.600000          2020.0
Davis, Ben     2022.0        5    2022.0    8.400000          2021.0
Chandler, Kade 2021.0        5    2021.0    2.200000          2020.0

[9073 rows x 4 columns]

## Build Player Metrics (Last 1 year, Last 3 Year, Last 5 Year)

In [195]:
# Build 1 Year Player Metrics

# Filter to a players most recent season and join to the full dataset
player_summ_1yr = player_summ
# \.query('season_rank_asc == 1')

model_factors_1yr = joined_data.merge(player_summ_1yr, on =['player_name','year'], how='inner') 

model_factors_agg_1yr = model_factors_1yr.groupby(['player_name', 'year'])\
.agg({'player_height_cm': 'mean',
'player_weight_kg': 'mean',
'kicks': 'mean',
'marks': 'mean',
'handballs': 'mean',
'handballs': 'mean',
'disposals': 'mean',
'effective_disposals': 'mean',
'disposal_efficiency_percentage': 'mean',
'goals': 'mean',
'behinds': 'mean',
'hitouts': 'mean',
'tackles': 'mean',
'rebounds': 'mean',
'inside_fifties': 'mean',
'clearances': 'mean',
'clangers': 'mean',
'free_kicks_for': 'mean',
'free_kicks_against': 'mean',
'brownlow_votes': 'mean',
'contested_possessions': 'mean',
'uncontested_possessions': 'mean',
'contested_marks': 'mean',
'marks_inside_fifty': 'mean',
'one_percenters': 'mean',
'bounces': 'mean',
'goal_assists': 'mean',
'time_on_ground_percentage': 'mean',
'centre_clearances': 'mean',
'stoppage_clearances': 'mean',
'score_involvements': 'mean',
'metres_gained': 'mean',
'turnovers': 'mean',
'intercepts': 'mean',
'tackles_inside_fifty': 'mean',
'contest_def_losses': 'mean',
'contest_def_one_on_ones': 'mean',
'contest_off_one_on_ones': 'mean',
'contest_off_wins': 'mean',
'def_half_pressure_acts': 'mean',
'effective_kicks': 'mean',
'f50_ground_ball_gets': 'mean',
'ground_ball_gets': 'mean',
'hitouts_to_advantage': 'mean',
'hitout_win_percentage': 'mean',
'intercept_marks': 'mean',
'marks_on_lead': 'mean',
'pressure_acts': 'mean',
'rating_points': 'mean',
'ruck_contests': 'mean',
'score_launches': 'mean',
'shots_at_goal': 'mean',
'spoils': 'mean',
})

model_factors_agg_1yr.columns = [str(col) + '_1yr' for col in model_factors_agg_1yr.columns]

model_factors_agg_1yr

                          player_height_cm_1yr  player_weight_kg_1yr  \
player_name       year
Aanensen, Vic     1973.0                   NaN                   NaN
                  1974.0                   NaN                   NaN
                  1975.0                   NaN                   NaN
Aarts, Jake       2020.0                 177.0                  76.0
                  2021.0                 177.0                  76.0
...                                        ...                   ...
van Berlo, Nathan 2015.0                   NaN                   NaN
vandenBerg, Aaron 2015.0                 188.0                  94.0
                  2016.0                 188.0                  94.0
                  2018.0                 188.0                  94.0
                  2020.0                 188.0                  94.0

                          kicks_1yr  marks_1yr  handballs_1yr  disposals_1yr  \
player_name       year
Aanensen, Vic     1973.0   7.222222   4.333333       3.444444      10.666667
                  1974.0   7.076923   4.923077       4.000000      11.076923
                  1975.0   6.375000   3.000000       2.625000       9.000000
Aarts, Jake       2020.0   5.071429   2.214286       4.571429       9.642857
                  2021.0   5.809524   2.523810       4.761905      10.571429
...                             ...        ...            ...            ...
van Berlo, Nathan 2015.0   9.350000   3.950000       5.950000      15.300000
vandenBerg, Aaron 2015.0  10.214286   3.142857       6.571429      16.785714
                  2016.0   5.714286   3.071429       8.928571      14.642857
                  2018.0   8.714286   4.285714       7.142857      15.857143
                  2020.0   6.083333   2.833333       5.750000      11.833333

                          effective_disposals_1yr  \
player_name       year
Aanensen, Vic     1973.0                      NaN
                  1974.0                      NaN
                  1975.0                      NaN
Aarts, Jake       2020.0                 7.071429
                  2021.0                 8.000000
...                                           ...
van Berlo, Nathan 2015.0                10.400000
vandenBerg, Aaron 2015.0                 9.785714
                  2016.0                 9.785714
                  2018.0                10.857143
                  2020.0                 7.666667

                          disposal_efficiency_percentage_1yr  goals_1yr  \
player_name       year
Aanensen, Vic     1973.0                                 NaN   0.777778
                  1974.0                                 NaN   0.692308
                  1975.0                                 NaN   0.750000
Aarts, Jake       2020.0                           71.928571   1.000000
                  2021.0                           69.809524   0.857143
...                                                      ...        ...
van Berlo, Nathan 2015.0                           68.350000   0.200000
vandenBerg, Aaron 2015.0                           56.000000   0.357143
                  2016.0                           66.785714   0.857143
                  2018.0                           69.571429   0.714286
                  2020.0                           66.000000   0.083333

                          behinds_1yr  ...  hitouts_to_advantage_1yr  \
player_name       year                 ...
Aanensen, Vic     1973.0     0.888889  ...                       NaN
                  1974.0     0.923077  ...                       NaN
                  1975.0     0.500000  ...                       NaN
Aarts, Jake       2020.0     0.357143  ...                       0.0
                  2021.0     0.571429  ...                       0.0
...                               ...  ...                       ...
van Berlo, Nathan 2015.0     0.300000  ...                       0.0
vandenBerg, Aaron 2015.0     0.857143  ...                       0.0
                  2016.0     0.642857  ...                       0.0
                  2018.0     0.857143  ...                       0.0
                  2020.0     0.083333  ...                       0.0

                          hitout_win_percentage_1yr  intercept_marks_1yr  \
player_name       year
Aanensen, Vic     1973.0                        NaN                  NaN
                  1974.0                        NaN                  NaN
                  1975.0                        NaN                  NaN
Aarts, Jake       2020.0                        0.0             0.142857
                  2021.0                        0.0             0.238095
...                                             ...                  ...
van Berlo, Nathan 2015.0                        0.0             0.600000
vandenBerg, Aaron 2015.0                        0.0             0.214286
                  2016.0                        0.0             0.214286
                  2018.0                        0.0             0.428571
                  2020.0                        0.0             0.416667

                          marks_on_lead_1yr  pressure_acts_1yr  \
player_name       year
Aanensen, Vic     1973.0                NaN                NaN
                  1974.0                NaN                NaN
                  1975.0                NaN                NaN
Aarts, Jake       2020.0           0.285714          11.571429
                  2021.0           0.190476          13.000000
...                                     ...                ...
van Berlo, Nathan 2015.0           0.150000          12.350000
vandenBerg, Aaron 2015.0           0.428571          15.285714
                  2016.0           0.642857          15.071429
                  2018.0           0.000000          11.714286
                  2020.0           0.416667          14.500000

                          rating_points_1yr  ruck_contests_1yr  \
player_name       year
Aanensen, Vic     1973.0                NaN                NaN
                  1974.0                NaN                NaN
                  1975.0                NaN                NaN
Aarts, Jake       2020.0           6.964286           0.000000
                  2021.0           6.747619           0.000000
...                                     ...                ...
van Berlo, Nathan 2015.0           7.385000           0.000000
vandenBerg, Aaron 2015.0           8.685714           0.000000
                  2016.0           8.864286           0.071429
                  2018.0           9.528571           0.000000
                  2020.0           5.050000           0.000000

                          score_launches_1yr  shots_at_goal_1yr  spoils_1yr
player_name       year
Aanensen, Vic     1973.0                 NaN                NaN         NaN
                  1974.0                 NaN                NaN         NaN
                  1975.0                 NaN                NaN         NaN
Aarts, Jake       2020.0            0.214286           1.428571    0.214286
                  2021.0            0.809524           1.523810    0.476190
...                                      ...                ...         ...
van Berlo, Nathan 2015.0            0.850000           0.600000    0.950000
vandenBerg, Aaron 2015.0            0.857143           1.500000    0.428571
                  2016.0            0.357143           1.714286    0.642857
                  2018.0            1.000000           1.714286    0.857143
                  2020.0            0.250000           0.416667    0.833333

[43184 rows x 52 columns]

In [129]:
# Build 3 Year Player Metrics

In [130]:
# Build 5 Year Player Metrics

In [163]:
# Most common position for the past year
# Calculate most common position played over past year
# Consider grouping if needed to remove specificity (e.g. Left and Right indicators probably not useful)


# Games player per year. Filter to only where games >= 5
# position_mapp = joined_data.groupby(['player_name','year']).agg({'match_date': 'count'})\
#     .query('match_date >=5')



joined_data['position_grouped'] = np.select(
    [
     joined_data['player_position'].isin(["FB"]), 
     joined_data['player_position'].isin(["BPL", "BPR"]),
     joined_data['player_position'].isin(["CHB"]), 
     joined_data['player_position'].isin(["HBFL", "HBFR"]),
     joined_data['player_position'].isin(["RK"]), 
     joined_data['player_position'].isin(["C", "RR" ,"R"]),
     joined_data['player_position'].isin(["WL", "WR"]), 
     joined_data['player_position'].isin(["FF"]),
     joined_data['player_position'].isin(["FPL", "FPR"]),
     joined_data['player_position'].isin(["HFFL", "HFFR"]),
     joined_data['player_position'].isin(["CHF"]),
     joined_data['player_position'].isin(["INT", "SUB"])
    ],
    [
      'FB',
      'BP',
      'CHB',
      'HBF',
      'RUCK',
      'C',
      'W',
      'FF',
      'FP',
      'HFF',
      'CHF',
      'Ignore'  
    ], 
    default='Other'
     )

## Test no positions have not been allocated. Result = 0 rows
# joined_data.query('position_grouped in ["Other"]')\
#     .groupby(['player_position']).agg(matches=('match_date', 'count'))


## Rank most recent games for each player, ignoring INT and SUB games
joined_data['recent_games'] = joined_data.query('position_grouped not in ["Ignore"]')\
      .groupby('player_name')['match_id'].rank(method="first", ascending=False)\
      

## Filter to most recent 10 games, find most common position. 10 game approach should balance recency while removing 1-2 game outliers
player_pos_all = joined_data.query('recent_games <= 10')\
                                .groupby(['player_name','position_grouped']).agg(matches=('match_id', 'count'))


# Find most common position but most games over past 10
player_pos_all['rank'] = player_pos_all.groupby('player_name')['matches'].rank(method="first", ascending=False)

player_pos_current = player_pos_all.query('rank == 1')

player_pos_current

                                    matches  rank
player_name       position_grouped
Aanensen, Vic     Other                  10   1.0
Aarts, Jake       HFF                     9   1.0
Abbey, Angus      Other                  10   1.0
Abbey, Ross       Other                  10   1.0
Abbott, Charles   Other                  10   1.0
...                                     ...   ...
van Berlo, Nathan HFF                     5   1.0
van Lint, Wennie  Other                   2   1.0
van Rooyen, Jacob FF                     10   1.0
van Unen, Dylan   BP                      1   1.0
vandenBerg, Aaron HFF                     4   1.0

[12443 rows x 2 columns]

## Join all tables together for model file

In [196]:
model_file = response_var[['predicted_year', 'avg_score']]\
                .merge(player_pos_current, on=['player_name'], how='outer')\
                .merge(model_factors_agg_1yr, left_on=['player_name', 'predicted_year'], right_on=['player_name', 'year'], how='outer')
                               
model_file

,predicted_year,avg_score,matches,rank,player_height_cm_1yr,player_weight_kg_1yr,kicks_1yr,marks_1yr,handballs_1yr,disposals_1yr,...,hitouts_to_advantage_1yr,hitout_win_percentage_1yr,intercept_marks_1yr,marks_on_lead_1yr,pressure_acts_1yr,rating_points_1yr,ruck_contests_1yr,score_launches_1yr,shots_at_goal_1yr,spoils_1yr
player_name,,,,,,,,,,,,,,,,,,,,,
"Rockliff, Tom",2013.0,134.777778,10.0,1.0,185.0,85.0,13.857143,4.523810,13.523810,27.380952,...,0.000000,0.000000,0.350000,0.300000,16.050000,13.266667,0.000000,1.750000,0.900000,0.250000
"Rockliff, Tom",2015.0,116.647059,10.0,1.0,185.0,85.0,10.875000,4.437500,13.750000,24.625000,...,0.000000,0.000000,0.125000,0.562500,20.250000,10.037500,0.000000,1.312500,0.562500,0.187500
"Rockliff, Tom",2010.0,112.050000,10.0,1.0,185.0,85.0,11.578947,5.421053,11.263158,22.842105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Rockliff, Tom",2014.0,104.687500,10.0,1.0,185.0,85.0,17.166667,5.333333,15.555556,32.722222,...,0.176471,5.882353,0.529412,0.411765,23.470588,16.194444,0.058824,1.058824,0.823529,0.411765
"Rockliff, Tom",2012.0,103.095238,10.0,1.0,185.0,85.0,12.727273,3.954545,11.636364,24.363636,...,0.000000,0.000000,0.227273,0.181818,16.590909,11.804545,0.045455,1.000000,1.954545,0.772727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"van Berlo, Nathan",NaN,NaN,NaN,NaN,NaN,NaN,11.000000,3.631579,6.000000,17.000000,...,0.000000,0.000000,0.368421,0.421053,13.789474,7.942105,0.000000,0.842105,1.052632,0.789474
"van Berlo, Nathan",NaN,NaN,NaN,NaN,NaN,NaN,9.350000,3.950000,5.950000,15.300000,...,0.000000,0.000000,0.600000,0.150000,12.350000,7.385000,0.000000,0.850000,0.600000,0.950000
"vandenBerg, Aaron",NaN,NaN,NaN,NaN,188.0,94.0,5.714286,3.071429,8.928571,14.642857,...,0.000000,0.000000,0.214286,0.642857,15.071429,8.864286,0.071429,0.357143,1.714286,0.642857
"vandenBerg, Aaron",NaN,NaN,NaN,NaN,188.0,94.0,8.714286,4.285714,7.142857,15.857143,...,0.000000,0.000000,0.428571,0.000000,11.714286,9.528571,0.000000,1.000000,1.714286,0.857143
"vandenBerg, Aaron",NaN,NaN,NaN,NaN,188.0,94.0,6.083333,2.833333,5.750000,11.833333,...,0.000000,0.000000,0.416667,0.416667,14.500000,5.050000,0.000000,0.250000,0.416667,0.833333

In [192]:
# testdata = player_pos_current[["position_grouped"]]

# testdata

player_pos_current

                                    matches  rank
player_name       position_grouped
Aanensen, Vic     Other                  10   1.0
Aarts, Jake       HFF                     9   1.0
Abbey, Angus      Other                  10   1.0
Abbey, Ross       Other                  10   1.0
Abbott, Charles   Other                  10   1.0
...                                     ...   ...
van Berlo, Nathan HFF                     5   1.0
van Lint, Wennie  Other                   2   1.0
van Rooyen, Jacob FF                     10   1.0
van Unen, Dylan   BP                      1   1.0
vandenBerg, Aaron HFF                     4   1.0

[12443 rows x 2 columns]